<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <ExcludeByFile>**/obj/**,**/Migrations/**</ExcludeByFile>
          
          <!-- Aqui nós dizemos para ignorar projetos de Teste, Utilitários e a pasta de Migrations -->
          <Exclude>[*.Test]*,[CommomTestUtilities]*</Exclude> 
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>